
*{
    margin: 0;
}

body{
    font-family: "Noto Sans Nag Mundari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #fcfcfa;
}



header{
    background-color: rgb(22, 22, 22);
    padding: 10px;
    color: #f6dc7c;
    text-align: center;
}

main{
    padding: 30px 50px;
}

.title{
    font-size: 18px;
    padding-bottom: 20px;
}
div span{
    font-size: 14px;
    padding: 0;
}

.main-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;    
}

.input-group {
    padding: 4px;
}


.lineInput{
    display: grid;
    padding-top: 7px;
    margin-bottom: 10px;
}

input{
    padding: 8px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    outline: 0;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    border: 0;
    padding: 10px 1px 65px;
    margin-top: 10px;

}

button{
    color: #f6dc7c;
    border: 3px outset #e1c86e;
    width: 110px;
    height: 38px;
    padding: 2px;
    outline: 0;
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover{
    background-color: rgb(54, 54, 54);
}

.content{
    margin-top: 15px;
}

table{
    border-collapse: collapse;
    border: 1px solid rgb(215, 215, 215);
    width: 100%;
}

table th {
    height: 26px;
    background-color: #f8f8f1;
}

table th, td {
    text-align: left;
    padding: 1px 6px;
}


table td img{
    width: 20px;
    margin: 0 8px;
    border-radius: 6px;
    background-color: rgb(236, 236, 236);
}

.itemlist-action{
    width: 85px;
    text-align: center;
}

.itemlist-id{
    width: 25px;
}

.add-delete {
    text-align: center;
}

.center {
    text-align: center;
}

.pdf-display{
    display: flex;
    justify-content: center;
}

#pdf-content{
    height: 18cm;
    width: 27cm;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pdf-pag{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;    
    background-color:  #ffffff;
    border: 1px solid rgb(215, 215, 215);
}

.iteminfo-pdf{
    margiN: 20px;
    width: 200px;
    height: 25px;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: #656565;
    color:rgb(255, 255, 255)
}
.iteminfo-pdf p{
    font-size: 14px;
    background-color: #d0d0d0;
    color:rgb(0, 0, 0)
}
